PROJECT_SECRET_KEY="{{PROJECT_SECRET_KEY}}"
PROJECT_DEBUG="True"
PROJECT_DATABASE_ENGINE="django.db.backends.postgresql"
PROJECT_DATABASE_NAME="{{PROJECT_DATABASE_NAME}}"
PROJECT_DATABASE_USER="{{PROJECT_DATABASE_USER}}"
PROJECT_DATABASE_PASSWORD="{{PROJECT_DATABASE_PASSWORD}}"
PROJECT_DATABASE_HOST="127.0.0.1"
PROJECT_DATABASE_PORT="5432"
