# {{PROJECT_NAME}} nginx site configuration

server {
  listen  80;
    server_name localhost;
    charset utf-8;
    access_log /var/log/nginx/{{PROJECT_NAME}}.access.log;
    error_log /var/log/nginx/{{PROJECT_NAME}}.error.log;
    gzip on;
    gzip_types text/plain text/css text/js text/xml text/javascript application/javascript application/x-javascript application/json application/xml application/xml+rss;

    location  /static {
      alias  /var/apps/{{PROJECT_NAME}}/current/build/static/prod;
      expires 365d;
      access_log off;
    }

    location / {
      uwsgi_pass  unix:/var/run/uwsgi/{{PROJECT_NAME}}.sock;
      include     /etc/nginx/uwsgi_params;
    }
}
